<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #101740;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
        <path fill="#FE8B6A" fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        <path fill="#FE8B6A"  d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
        <path fill="#FE8B6A" d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
      </svg>
      miagenda.com
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          {%if '/' == request.path%}
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          {%else%}
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
          {%endif%}
        </li>
        <li class="nav-item">
          {%if '/guia' == request.path%}
            <a class="nav-link active" href="/guia">Guía rápida</a>
          {%else%}
            <a class="nav-link" href="/guia">Guía rápida</a>
          {%endif%}
        </li>
        <li class="nav-item dropdown">
          {%if '/acercade' in request.path%}
            <a class="nav-link dropdown-toggle active" href="/acercade" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acerca de
            </a>
          {%else%}
            <a class="nav-link dropdown-toggle" href="/acercade" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Acerca de
            </a>
          {%endif%}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/acercade#sdd">Documento de diseño</a></li>
            <li><a class="dropdown-item" href="/acercade#techs">Tecnologías</a></li>
            <li><a class="dropdown-item" href="/acercade#arch">Arquitectura</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item disabled" href="#">Diagramado</a></li>
            <li><a class="dropdown-item" href="/acercade#uml">UML</a></li>
            <li><a class="dropdown-item" href="/acercade#re">RE</a></li>
          </ul>
        </li>
        <li class="nav-item">
          {%if '/creditos' == request.path%}
            <a class="nav-link active" href="/creditos">Créditos</a>
          {%else%}
            <a class="nav-link" href="/creditos">Créditos</a>
          {%endif%}
        </li>
      </ul>

      {%if 'session' not in request.get_cookies%}
        <form class="d-flex">
          <a type="button" href="/login" class="btn btn-outline-primary login">Iniciar Sesión</a>
          <a type="button" href="/signup" class="btn btn-primary login">Registrarse</a>
        </form>
      {%else%}
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://i.ibb.co/vPbT5V5/blank-profile-picture-973460-1280.webp" class="rounded-circle" width="32" height="32">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="position: absolute;
                                                                                            inset: 0px 0px auto auto;
                                                                                            margin: 0px;
                                                                                            transform: translate(0px, 34px);">
            <li><a class="dropdown-item" href="/agendas/nueva">Nueva agenda...</a></li>
            <li><a class="dropdown-item" href="/agendas/miagenda">Ver mi agenda</a></li>
            <li><a class="dropdown-item" href="/cuenta/configuración">Configuración</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
          </ul>
        </div>
      {%endif%}
    </div>
  </div>
</nav>