.image-carousel{
    height: 480px;
    background-position: center;
    background-size: cover;

}

.image1{
    background-image:  linear-gradient(to bottom,rgba(255, 164, 60, 0), rgba(254, 139, 106, 1)), url(https://i.ibb.co/Rv54cWj/eric-rothermel-Fo-KO4-Dp-Xam-Q-unsplash.jpg);
}

.image2{
    background-image: linear-gradient(to bottom,rgba(255, 164, 60, 0), rgba(254, 139, 106, 1)),url(https://i.ibb.co/WxdWByq/lukas-blazek-UAv-Yasdkzq8-unsplash.jpg);
}

.image3{
    background-image: linear-gradient(to bottom,rgba(255, 164, 60, 0), rgba(254, 139, 106, 1)),url(https://i.ibb.co/5TGxFLY/compare-fibre-Y8-Ti-Lv-Kn-Leg-unsplash.jpg);
}

.carousel-caption{
    color:#101740!important;
}

main{
    padding:30px;
}