{%extends "base/base.html"%}


{%block content%}

<div class="container py-3" style="margin-top:100px;">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Matemáticas Discretas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">14:00<small class="text-muted fw-light"> - </small>16:00</h1>
            <b> Prof. Gonzáles Ramos Gustavo  </b>
            <br>
            882352@pcpuma.acatlan.unam.mx
            <ul class="list-unstyled mt-3 mb-4">
              <li>80% Examen</li>
              <li>20% Tareas</li>
              <li>Otro dato perturbador</li>
              <li>Más...</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Plataforma: Zoom</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Cálculo III</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">16:00<small class="text-muted fw-light"> - </small>18:00</h1>
            <b> Prof. Pacheco Paez Juan Carlos  </b>
            <br>
            880833@pcpuma.acatlan.unam.mx
            <ul class="list-unstyled mt-3 mb-4">
                <li>80% Examen</li>
                <li>20% Tareas</li>
                <li>Otro dato perturbador</li>
                <li>Más...</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Plataforma: Google Meet</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Programación Orientada a Objetos</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">18:00<small class="text-muted fw-light"> - </small>20:00</h1>
            <b> Prof. Marron Luna Dyana Erika </b>
            <br>
            844222@pcpuma.acatlan.unam.mx
            <ul class="list-unstyled mt-3 mb-4">
                <li>80% Examen</li>
                <li>20% Tareas</li>
                <li>Otro dato perturbador</li>
                <li>Más...</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Plataforma: Zoom</button>
          </div>
        </div>
      </div>
    </div>
</div>
{%endblock%}